/* ============================================= */
/*              Phrase                            */
/* ============================================= */

.letter {
    font-size: $font-size-medium;
    height: 65px;
    width: 65px;
    padding: 20px 1px 0 1px;
    margin-right: 2px;
    color: transparent;
    background: $color-neutral-light;
    border-radius: 5px;
  }
  
  .space {
    width: 15px;
  }
  
  .show {
    color: #000;
    background-color: #76CE82;
  }